<article id="proyectos" class="proyectos">
    <div class="titulo-proy">
        <h2>Proyectos</h2>
        <button class="btn btn-success" routerLink="/proyectoscrear">+</button>
    </div>
    
    <ul *ngFor="let proyecto of proyectos">
        <li>
            <div class="contenido-proy">
                <div class="imagen-proy">
                <img src={{proyecto.urlFoto}} alt="foto del proyecto" width="600px" height="350px">
                </div> 
                <div class="descripcion-proy">
                    <h2>{{proyecto.nombre}}</h2>
                    {{proyecto.descripcion}}
                </div>
                <div class="button">
                    <button class="btn btn-secondary" routerLink="/proyectoseditar/{{proyecto.id}}">Editar</button>
                    <button class="btn btn-danger" (click)="delete(proyecto.id)">Eliminar</button>
                </div>
            </div>
        </li>
    </ul>
</article>