<article class="proyectos">
    <div class="titulo-proy">
        <h2>Proyectos</h2>
    </div>
    <div class="contenido-proy">
        <div class="imagen-proy">
        <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen.jpg" alt="" width="600px" height="350px">
        </div>
        <div class="descripcion-proy">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati autem reprehenderit alias sed veniam dolore sapiente aliquam, totam quasi, quibusdam nam natus voluptates doloribus accusamus necessitatibus nisi possimus? Recusandae!
        </div>
    </div>
    <div class="contenido-proy">
        <div class="descripcion-proy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laudantium cum id dignissimos voluptatibus cupiditate, iusto exercitationem, qui deserunt, maxime ea soluta. Dignissimos odit iste, vero necessitatibus atque repudiandae voluptatibus!
        </div>
        <div class="imagen-proy">
        <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen.jpg" alt="" width="600px" height="350px">
        </div>
    </div>
</article>