<div class="login">
    <div class="login-form">
        <form (ngSubmit)="onCreate()" #f="ngForm">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>

            <label for="descripcion" class="form-label">Descripcion</label>
            <textarea type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required rows="5"></textarea>

            <label for="urlFoto" class="form-label">URL de la Portada</label>
            <input type="text" class="form-control" id="urlFoto" name="urlFoto" [(ngModel)]="urlFoto" required>
            <br>
            <button class="btn btn-primary" type="submit">Crear</button>
        </form>
    </div>
</div>