<article id="experiencia-laboral" class="article">
    <div class="estudios">
        <div class="titulo">
            <h2>Experiencia Laboral</h2>
        </div>
        <ul>
            <li>
                <div class="titulo">Experiencia 1</div>
                <div class="descripcion">Descripcion</div>
                <div class="Lugar"> Lugar</div>
                <div> fecha inicio - fecha final</div>
            </li>
            <li>
                Experiencia 2

            </li>
        </ul>
        </div>
</article>