<article id="experiencia-laboral" class="article">
    <div class="estudios">
        <div class="titulo">
            <h2>Experiencia Laboral</h2>
        </div>
        <ul *ngFor="let experiencia of experiencias">
            <li>
                <div class="empresa">{{experiencia.empresa}}</div>
                <div class="descripcion">{{experiencia.descripcion}}</div>
                <div> {{experiencia.fechaInicio}} - {{(experiencia.fechaFin == null) ? "Actualmente" : experiencia.fechaFin}}</div>
            </li>
        </ul>
        </div>
</article>