<footer class="footer">
    <div>
    
    </div>
    <br>
    <div class="footer">
        <i class="fa-regular fa-copyright"></i>Santiago Andres Coronado
        <a href="https://www.facebook.com/santi.coronado.39"><i class="fa-brands fa-facebook" style="color: #0b59e0;"></i></a>
        <a href="https://www.instagram.com/santii_coronado/"><i class="fa-brands fa-instagram" style="color: #d813ad;"></i></a>
        <i class="fa-solid fa-envelope"></i>Correo: santiicoronado.70@gmail.com
    </div>
    <div>
        <img src="../../../assets/img/argprograma.png" alt="logo Argentina Programa" width="50px">
        Argentina Programa #YoProgramo
    </div>
</footer>