<header>
    <div class="banner">
        <img src="../assets/img/foto.jpg" alt="foto de perfil" width="200px" height="200px" class="foto">
    </div>
<nav class="nav">
    <div class="links">
        <div>
            <a href="#sobre-mi" class="nav-button">Sobre Mi</a>
        </div>
        <div>
            <a href="#estudios" class="nav-button">Estudios</a>
        </div>
        <div>
            <a href="#experiencia-laboral" class="nav-button">Experiencia Laboral</a>
        </div>
        <div>
            <a href="#skills" class="nav-button">Skills</a>
        </div>
        <div>
            <a href="#proyectos" class="nav-button">Proyectos</a>
        </div>
    </div>
    <div>
        <a routerLink="login" class="login-button">Ingresar</a>
    </div>
</nav>
</header>