<article id="estudios" class="article">
    <div class="estudios">
        <div class="titulo">
            <h2>Estudios</h2>
        </div>
            <ul *ngFor="let estudio of estudios">
                <li>
                    <div class="institucion">-{{estudio.institucion}}</div>
                    <div class="carrera">{{estudio.titulo}}</div>
                    <div class="fechas"> {{estudio.fechaInicio}} - {{(estudio.fechaFin == null) ? "Actualmente": estudio.fechaFin}}</div>
                </li>
            </ul>
        </div>
</article>