<article class="article">
    <img src="../../../assets/img/grafiti2.png" alt="" class="grafiti2">
    <div class="estudios">
        <div class="titulo">
            <h2>Estudios</h2>
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam obcaecati dolorum alias blanditiis error. Neque alias necessitatibus velit similique assumenda sequi dicta, est eveniet libero quae ex dolore, delectus fuga!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum id, mollitia alias, eligendi sit ut ducimus debitis magnam aut cupiditate doloribus dolores ratione itaque. Enim unde perspiciatis rerum quae ut!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In ex, ea nesciunt non modi possimus, eos dolorum soluta libero pariatur quasi natus! Blanditiis ad et assumenda aliquid repellat non temporibus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem debitis esse sunt architecto iusto velit exercitationem, ex quis dicta dolores veniam pariatur repellendus explicabo at labore quibusdam voluptate vitae eius?
        </div>
</article>