<article class="article">
    <div class="sobre_mi">
        <div class="titulo">
            <h2>Sobre Mi</h2>
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam obcaecati dolorum alias blanditiis error. Neque alias necessitatibus velit similique assumenda sequi dicta, est eveniet libero quae ex dolore, delectus fuga!Lorem
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum ullam debitis ipsam placeat nulla assumenda maxime non, odio et repudiandae earum eos voluptate laboriosam eaque, perferendis sapiente. Eaque, nobis.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit aliquid dicta, voluptates rerum molestiae odio vel eaque odit soluta itaque perspiciatis, facilis expedita. Fuga quae deleniti consequuntur recusandae unde modi.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit quia suscipit et, voluptatum neque modi, aspernatur, commodi animi repellat id quasi veritatis tenetur totam eaque. Quibusdam rerum explicabo corrupti dicta.
    </div>
    <img src="../../../assets/img/grafiti.png" alt="" class="grafiti">
</article>