<article  id="sobre-mi" class="article">
    <div class="sobre_mi">
        <div class="titulo">
            <h2>Sobre Mi</h2>
        </div>
        {{personas.sobreMi}}
        <div class="edit-sobre-mi">
            <form action="http://localhost:8080/api/persona/editar" method="POST">
                <textarea name="sobreMi" id="" cols="30" rows="5"></textarea>
                <input type="submit" value="Actualizar" class="btn btn-primary">
            </form>
        </div>
    </div>
</article>