<form [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <div *ngIf="!(User?.errors && User?.touched)">
        <label for="user">Usuario: </label>
        <input type="text" formControlName="user">
    </div>
    <div *ngIf="User?.errors && User?.touched">
        <label for="user">Usuario: </label>
        <input type="text" formControlName="user" class="error-input">
    </div>
    <div *ngIf="User?.errors && User?.touched">
        <p *ngIf="User?.hasError('required')" class="error">
            El usuario es requerido
        </p>
        <p *ngIf="User?.errors?.['minlength'] || User?.errors?.['maxlength']" class="error">
            El usuario debe tener entre 5 y 12 caracteres
        </p>
    </div>
    <br>
    <div *ngIf="!(Email?.errors && Email?.touched)">
        <label for="email">Email: </label>
        <input type="email" formControlName="email">
    </div>
    <div *ngIf="Email?.errors && Email?.touched">
        <label for="email">Email: </label>
        <input type="email" formControlName="email" class="error-input">
    </div>
    <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email?.hasError('required')" class="error">
            El email es requerido
        </p>
        <p *ngIf="Email?.hasError('email')" class="error">
            El formato del email debe ser valido
        </p>
    </div>
    <br>
    <div>
        <label for="password" class="form-label">Contraseña: </label>
        <input type="password" formControlName="password" [class.border-danger]="EmailValid">
    </div>
    <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="error">
            La contraseña es requerida
        </p>
        <p *ngIf="Password?.errors?.['minlength']" class="error">
            La contraseña debe ser de 8 o más caracteres
        </p>
    </div>
    <br>
    <div *ngIf="!form.valid && form.touched">
        <button type="submit" disabled>Iniciar Sesión</button>
    </div>
    <div *ngIf="form.valid || !form.touched">
        <button type="submit" >Iniciar Sesión</button>
    </div>
</form>
