<article id="skills" class="article">
    <div class="skills">
        <div class="titulo">
            <h2 class="titulo">
                Hard & Soft Skills
            </h2>
        </div>
        <button class="btn btn-success" routerLink="/skillscrear">+</button>
        <ul *ngFor="let skill of skills">
            <li class="descripcion-skills">
                - {{skill.skill}}
                <button class="btn btn-danger" (click)="delete(skill.id)">Eliminar</button>
            </li>
        </ul>
        
    </div>
</article>