<article class="skills">
    <div class="titulo">
        <h2 class="titulo">
            Hard & Soft Skills
        </h2>
    </div>
    <div class="contenido">
        <div class="descripcion-skills">
            HTML
        </div>
        <div class="imagen-skills">
            <meter min="0" max="100" value="90" class="barra"></meter>
        </div>
    </div>
    <div class="contenido">
        <div class="descripcion-skills">
            CSS
        </div>
        <div class="imagen-skills">
            <meter min="0" max="100" value="90" class="barra"></meter>
        </div>
    </div>
    <div class="contenido">
        <div class="descripcion-skills">
            Skill
        </div>
        <div class="imagen-skills">
            <meter min="0" max="100" value="90" class="barra"></meter>
        </div>
    </div>
    
</article>