*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    list-style: none;
}
.login{
    display: flex;
    height: 1011px;
    background: linear-gradient(rgb(1, 7, 46), rgb(155, 92, 102));
}

.login-form{
    display: block;
    width: 500px;
    height: min-content;
    margin-left: 35%;
    margin-top: 17%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.elemento-login{
    font-size: 20px;
    margin: 10px 0px;;
}

.login-button{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40%;
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 20px;
}

.nav{
    background-color: rgb(1, 7, 46);
    padding: 15px;

}
.links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right: 53%;
}
.nav-button{
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    padding: 5px 10px;
    margin: 2px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 20px;
}

.banner{
    background-image: url(./assets/img/banner.jpg);
    background-position-y: 41%;
}
.foto{
    margin-top: 400px;
    margin-left: 45%;
    border-radius: 150px;
}
.article{
    display: flex;
    justify-content: space-around;
}

.section{
    background: linear-gradient(rgb(1, 7, 46), rgb(155, 92, 102));
    height: auto;
    padding: 10px;
}
.sobre_mi{
    border: 1px solid black;
    border-radius: 20px;
    margin:7% 0px 10px 0%;
    padding: 20px; 
    width: 450px;
    height: auto;
    font-size: 20px;
}
.estudios{
    border: 1px solid black;
    border-radius: 20px;
    margin:50px 0px 10px 0%;
    padding: 20px; 
    width: 450px;
    height: auto;
    font-size: 20px;
}
.skills{
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    margin:50px 0px 10px 0%;
    padding: 20px; 
    width: 450px;
    height: auto;
}
.barra{
    height: 50px;
    width: 200px;
}
.proyectos{
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    margin:50px 80px;
    padding: 20px; 
    width: auto;
    height: auto;
}
.titulo-proy{
    font-size: 40px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}
.contenido-proy{
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
}
.descripcion-proy{
    padding-left:50px ;
    font-size: 20px;
    width: 50%;
}
.footer{
    padding: 10px 0px;
    background-color: rgb(155, 92, 102);
    text-align: center;
}
.btn{
    margin: 0px 10px 0px 0px;
}
